body {
  margin: 0;
}

.header {
  text-align: center;
  padding: 30px 0;
}

.accordion {
  width: 500px;
  margin: 0 auto;
}

.accordion-trigger {
  height: 50px;
  margin: 0;
  padding: 10px;
  display: block;
  background: #111;
  color: #fff;
  border-top: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion-trigger.is-active {
  background-color: #666;
}
.accordion-contents {
  margin: 0;
  padding: 10px;
  border: 1px solid #ccc;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-in-out, opacity 0.4s ease-in-out; /* この行を追加 */
  opacity: 0;
}

/* dl,dt,dd */
dt {
  font-weight: bold;
  padding-bottom: 5px;
}

dd::before {
  content: "・";
  margin-right: 5px;
}

/* i */
i {
  font-size: 38px;
}

/* twitter */
.twitter-open {
  background-color: #1da1f2;
}

/* instagram */
.instagram-open {
  /* background-color: #e4405f; */
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #f7dd72 20%,
    #bc2a8d 45%,
    #833ab4 85%
  );
}

/* facebook */
.facebook-open {
  background-color: #1877f2;
}

/* youtube */
.youtube-open {
  background-color: #ff0000;
}

/* tiktok */
.tiktok-open {
  background-color: #000000; /* TikTokのロゴの黒色部分を参考に設定 */
}

@media (max-width: 767px) {
  body {
    padding: 0 30px;
  }
  .header > h1 {
    font-size: 20px;
  }
  .accordion {
    width: 100%;
    box-sizing: border-box;
  }
}
